@media screen and (max-width :800px) {
    .seguridad{
       
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 200px 200px 200px;

        &__secciones {
            border: 2px solid rgb(255, 255, 255);
        }
        &__secciones img{
            width: 50px;

        }
    }

    /*contacto   */

    #bg-contactos{
        margin-top: 200px;
        top: -75px;
    }
}


@media screen and (max-width: 500px) {


    /*METODOS DE PAGO*/

    .pagos{
        flex-direction: column;

        &__imagenes {
            width: 250px;
        }
    
    
    }

    /*seguriad */

        
    .seguridad {
        
        grid-template-columns: 1fr;
        grid-template-rows: 200px 200px 200px ;


        &__secciones {
            border: 2px solid rgb(245, 243, 240);
        }
        &__secciones img{
            width: 40px;
        }
    
    
    }

    #contenedor-formulario{
        margin-top: 60px;

    }

    /*contacto   */

    #bg-contactos{
        margin-top: 200px;
        top: -70px;
    }

    /*REDES */

    .seccion{
        margin-top: 1.5px;
    }

    .seccion__contactos {
        align-items: flex-end;

    }
    
    .cartas {
        &__card {
            height: 630px;

            transition: none;

        }

        &__card:hover{
            transform: none;
            box-shadow: none;
        }
    }


    .galeria img {
        transition: none;

    }

    .galeria img:hover{
        transform: none;
        box-shadow: none;
    }
}