.politica__titulo{

    margin-top: 100px;

    text-align: center;
    padding: 30px;

    font-size: 35px;
}

.politica__parrafo{
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

    
